* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
font-family: 'Lato', sans-serif;
}

/* tool  */
.flex{
  display: flex;
}
/* classi utility diverse per messaggi */
.sent{
  background-color:#c9ffb9;
  padding:20px;
  margin-right:40px;
  align-self: flex-end;
}
.received{
  margin-left:40px;
    padding:20px;
  background-color:#fff;
  align-self: flex-start;
}


.top_banner {
  height: 20vh;
  background-color: #009688;
}

.container {
  height: 80vh;
  background-color: #DCDCD2;
  justify-content: center;
}
#boolzapp {
  max-width: 86vw;
  max-height: 82vh;
  width: 1426px;
  height: 800px;
  min-width: 700px;
  min-height: 420px;
  position: absolute;
  top: 20px;
  left:60px;
}

section{
  width:65%;

}
aside{
  width:35%;
    background-color: #FAFAFA;

}

.myprofile{
    background-color: #EAEAEA;
  align-items:center;
  height:100px;
  justify-content: space-between;
  background-color:
}
.myavatar{
align-items: center;
}
img{
  width:70px;
  height:70px;
  margin:0 10px;
  border-radius:50%;
}
.notifiche{
background-color: #7CDCFF;
align-items:center;
padding:20px;
height: 100px;
}
.notifiche span{
  margin:0 10px;
background-color: white;
width:50px;
height:50px;
align-items:center;
justify-content: center;
border-radius: 50%;
}
.notifiche i{
color: #7CDCFF;
font-size: 20px;
}
.search{
  justify-content: center;
  align-items: center;
  height:60px;
}
.icon-input{
  justify-content: center;
  align-items: center;
  width:10%;
  background-color: #fff;
 height:70%;
}

.search input{
  padding:10px 20px;
  width:85%;
  border:none;
  height:70%;
}
.search input:focus{
  outline:none;
}
.contacts-list{
  height:calc(100% - 260px);
  overflow-y:auto;
  background-color: #fff;
}
.contacts{
  flex-direction: column;
  justify-content: space-between;
  height:100px;
}
.contacts>div{
  align-items: center;
  border-bottom: 2px solid #eee;
  padding:10px 0;
}
.contacts>div:hover{
background-color: #eee;
}
.current-user{
  align-items: center;
  justify-content: space-between;
  background-color: #EAEAEA;
  height:100px;
}
.current-user p,.contacts-list p{
  color:#000;
  opacity:0.4;
 margin-top: 7px;
}
.profile{
  align-items: center;
}
.chat{
height:calc(100% - 200px);
overflow-y: auto;
background-image: url('../img/mine.jpg')
}
.messages{
  position:relative;
  align-items: center;
  width:350px;
  border-radius:10px;
  margin-top:10px;
  margin-bottom: 10px;
height:100px;
}
.messages p{
position:absolute;
color:#000;
opacity:0.4;
bottom:12px;
right:15px;

}
.chat>.flex {
  flex-direction: column;
}
.write-message{
background-color: #EAEAEA;
justify-content: space-between;
align-items:center;
height:100px;

}
.write-message input{
border: none;
padding:20px;
font-size: 18px;
display:block;
width:85%;
height:80%;
}

.icon-left,.icon-right{
width:10%;
justify-content: center;
align-items: center;
}
.myprofile i, .current-user i{
margin-right:10px;
font-size: 25px;
color:#b1b1b1;
}
.write-message i{
font-size: 25px;
color:#6a7279;
}
i{
  cursor:pointer;
}
