* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
}
body{
font-family: 'Lato', sans-serif;
}

/* tool  */
.flex{
  display: flex;
}
/* classi utility diverse per messaggi */
.sent{
  background-color:#c9ffb9;
  /* padding:20px; */
  margin-right:40px;
  align-self: flex-end;
}
.received{
  margin-left:40px;
    /* padding:20px; */
  background-color:#fff;
  align-self: flex-start;
}


header {
  min-width: 1200px;
  height: 20vh;
  background-color: #009688;
}

.container {
  min-width: 1200px;
  height: 80vh;
  background-color: #DCDCD2;
  justify-content: center;
}
#boolzapp {
  width: 95vw;
  height: 95vh;
  min-width: 950px;
  min-height: 420px;
  position: absolute;
  top:2.5vh;
  left:2.5vw;

}

section{
  width:65%;

}
aside{
  width:35%;
    background-color: #FAFAFA;

}
.myprofile{
    background-color: #EAEAEA;
  align-items:center;
  height:100px;
  justify-content: space-between;
  background-color:
}
.myavatar{
align-items: center;
}
img{
  width:70px;
  height:70px;
  margin:0 10px;
  border-radius:50%;
}
.notifiche{
background-color: #7CDCFF;
align-items:center;
padding:20px;
height: 100px;
}
.notifiche span{
  margin:0 10px;
background-color: white;
width:50px;
height:50px;
align-items:center;
justify-content: center;
border-radius: 50%;
}
.notifiche i{
color: #7CDCFF;
font-size: 20px;
}
.search{
  justify-content: center;
  align-items: center;
  height:60px;
}
.icon-input{
  justify-content: center;
  align-items: center;
  width:10%;
  background-color: #fff;
 height:70%;
}

.search input{
  padding:10px 20px;
  width:85%;
  border:none;
  height:70%;
}
.search input:focus{
  outline:none;
}
.search .fa-search{
    opacity:0.3;
  font-size: 18px;
}
.contacts-list{
  height:calc(100% - 260px);
  overflow-y:auto;
  background-color: #fff;
}
.contacts{
  height:100px;
}
.contacts>div{
  justify-content: space-between;
  border-bottom: 2px solid #eee;
  padding:10px 0;
}
.contacts>div:last-child{
  border-bottom:none;
}
.contacts>div:hover{
background-color: #eee;
}
.contact-box{
  flex-direction: column;
  justify-content: center;
}
.date{
  position:relative;
right:10px;
top:10px;
opacity:0.4;
}
.current-user{
  align-items: center;
  justify-content: space-between;
  background-color: #EAEAEA;
  height:100px;
}
.current-user p,.contacts-list p{
  opacity:0.4;
 margin-top: 7px;
}
.profile{
  align-items: center;
}
.chat{
  position:relative;
height:calc(100% - 200px);
overflow-y: auto;
background-image: url('../img/mine.jpg');
}
.messages{
  position:relative;
  width:350px;
  border-radius:10px;
  margin-top:10px;
  margin-bottom: 10px;
height:100px;
}
.messages p{
position:absolute;
color:#000;
opacity:0.4;
bottom:12px;
right:15px;

}
.chat>.flex {
  flex-direction: column;
}
.write-message{
background-color: #EAEAEA;
justify-content: space-between;
align-items:center;
height:100px;

}
.write-message input{
border-radius: 7px;
padding:20px;
font-size: 18px;
display:block;
width:85%;
height:70%;
}
.write-message input:focus{
outline:0;
border-color:blue;

}

.icon-left,.icon-right{
width:10%;
justify-content: center;
align-items: center;
}
.myprofile i, .current-user i{
margin-right:18px;
font-size: 25px;
color:#b1b1b1;
}
.write-message i{
font-size: 25px;
color:#6a7279;
}
i{
  cursor:pointer;
}
.bubble{
  position:relative;
}
.dropdown{
  color: #fff;
  position:absolute;
  z-index:4;
  border-radius: 5px;
  top:-8px;
  right:20px;
  background-color: #353535;
  padding:3px 0;
}

.dropdown li{
  border-bottom:1px solid #ccc;
  padding:0 5px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown li:last-child{
  border:none;
  color:red;
}
 .dropdown li:hover{
   background-color: #ccc;
   cursor:pointer;
 }
 .dropdown li span{
   padding-right: 10px;
 }
.bubble-content{
  padding:20px;
  align-items:center;
width:100%;
height:100%;
}
.show{
  display:block
}
.blur{
  z-index:1;
  position:absolute;
  background-color: #000;
  filter:blur(10px)drop-shadow(15px 20px 20px black);
  opacity:0.9;
  width:100%;
  height:100%;}

.blurred{
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
